<!--
 - Created by Serg on 11.07.2021.
 -->

<!-- Product Book List -->
<template>
    <lightning-layout multiple-rows="true">
        <lightning-layout-item>
            <span>{errors}</span>
        </lightning-layout-item>
        <lightning-layout-item size="12">
            <lightning-card title={selectedItemsTitle}>
                <template if:true={isSelectedBookItems}>
                    <lightning-button label="Add to Order" onclick={handleAddProductToOrder}
                                      slot="actions"></lightning-button>
                    <template if:false={isShowListSelected}>
                        <lightning-button
                                variant="base"
                                label="Show selected"
                                title="List selected products switch"
                                icon-name="utility:down"
                                class="slds-m-around_none"
                                onclick={handleListSelectedSwitch}
                        ></lightning-button>
                    </template>
                </template>
                <template if:true={isShowListSelected}>
                    <lightning-button
                            variant="base"
                            label="Hide selected"
                            title="List selected products switch"
                            icon-name="utility:up"
                            class="slds-m-around_x-small slds-m-left_none"
                            onclick={handleListSelectedSwitch}
                    ></lightning-button>
                    <ul class="slds-p-horizontal_medium">
                        <template for:each={selectedBookItems} for:item="selectedItem">
                            <li key={selectedItem.Id}>
                                <span class="slds-var-m-right_medium ">{selectedItem.name}</span>
                                <lightning-formatted-number value={selectedItem.unitPrice}
                                                            format-style="currency"></lightning-formatted-number>
                            </li>
                        </template>
                    </ul>
                </template>
            </lightning-card>
        </lightning-layout-item>
        <lightning-layout-item size="12" padding="around_x-small">
            <c-filter-set  onsetpricebookfilter={handleSetPricebookFilter}></c-filter-set>
        </lightning-layout-item>
        <lightning-layout-item size="12" padding="around_x-small">
            <lightning-datatable
                    data={productsBookEntry}
                    key-field="id"
                    columns={columns}
                    onrowselection={handleSelectedEntry}
                    class="datatable-style"
                    enable-infinite-loading
                    onloadmore={handleLoadMoreData}
            ></lightning-datatable>
        </lightning-layout-item>
        <lightning-layout-item size="12">
            <div class="slds-border_top slds-p-vertical_medium slds-p-horizontal_small">{showedRecordsLabel}</div>
        </lightning-layout-item>
    </lightning-layout>
</template>