<!--
 - Created by Serg on 11.07.2021.
 -->

<!-- Order Products List -->
<template>
    <template if:true={errors}>
        <p>{errors}</p>
    </template>
    <lightning-layout>
        <lightning-layout-item size="12" padding="around_x-small">
            <lightning-datatable
                    data={orderProductsList}
                    key-field="id"
                    columns={columns}
            ></lightning-datatable>
        </lightning-layout-item>
    </lightning-layout>
</template>