<!--
 - Created by Serg on 12.07.2021.
 -->

<!-- Activation Order -->
<template>
    <lightning-layout >
        <lightning-layout-item size="12">
            <lightning-button  label="Activate" onclick={handlerActivate} class="slds-m-around_small"></lightning-button>
        </lightning-layout-item>
    </lightning-layout>
</template>