<!--
 - Created by Serg on 20.05.2021.
 -->

<!-- Ligthning Vertical Menu Image -->
<template>
    <a aria-current={ariaCurrent} class="slds-nav-vertical__action" href={href} onclick={handleClick}>
        <div class="slds-media slds-media_small">
            <div class="slds-media__figure">
      <span class="slds-avatar slds-avatar_x-small">
        <img src={imageName}>
      </span>
            </div>
        </div>
        {label}
    </a>
</template>