<!--
 - Created by Serg on 11.07.2021.
 -->

<!-- Filter Set -->
<template>
    <div class="slds-m-top_small slds-m-bottom_small">
        <lightning-layout multiple-rows="true">
            <lightning-layout-item size="12">
                <template if:true={isFilterHide}>
                    <lightning-button
                            variant="base"
                            label={filterLabel}
                            title="Filter switch"
                            icon-name="utility:down"
                            class="slds-m-around_x-small slds-m-left_none"
                            onclick={handleFilterSwitch}
                    ></lightning-button>
                </template>
                <template if:false={isFilterHide}>
                    <lightning-button
                            variant="base"
                            label={filterLabel}
                            title="Filter switch"
                            icon-name="utility:up"
                            class="slds-m-around_x-small slds-m-left_none"
                            onclick={handleFilterSwitch}
                    ></lightning-button>
                </template>
            </lightning-layout-item>
            <template if:false={isFilterHide}>
                <lightning-layout-item size="12">
                    <lightning-layout vertical-align="bottom">
                        <lightning-layout-item size="10"  padding="around_x-small">
                            <lightning-input
                                    type="search"
                                    label="Name started..."
                                    placeholder="Filter by name"
                                    onchange={handleFilterChange}
                                    variant="label-inline"
                                    value={filterValue}
                            ></lightning-input>
                        </lightning-layout-item>
                        <lightning-layout-item size="2" padding="around_x-small">
                            <lightning-button
                                    label="Apply"
                                    class="slds-form-element_horizontal"
                                    onclick={handleApplyFilter}
                            ></lightning-button>
                        </lightning-layout-item>
                    </lightning-layout>
                </lightning-layout-item>
            </template>
        </lightning-layout>
    </div>
</template>

